.sidebar {
  width: 280px;
  height: calc(100vh - 2rem);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.logo-icon {
  background: linear-gradient(135deg, var(--primary), var(--secondary));
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  color: white;
  text-decoration: none;
  transition: var(--transition);
}

.nav-item:hover {
  background: var(--glass);
  color: rgb(112, 25, 219);
}

.nav-item.active {
  background: rgba(14, 165, 233, 0.1);
  color: var(--primary);
  border-left: 3px solid var(--primary);
}

.nav-separator {
  margin: 1.5rem 0 0.5rem 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--text-secondary);
  letter-spacing: 0.1rem;
}

.sidebar-footer {
  margin-top: auto;
  padding-top: 1.5rem;
  border-top: 1px solid var(--glass-border);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.user-avatar {
  width: 40px;
  height: 40px;
  background: var(--glass);
  border: 1px solid var(--glass-border);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--primary);
}

.user-details {
  flex: 1;
  overflow: hidden;
}

.user-name {
  font-weight: 600;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-email {
  font-size: 0.75rem;
  color: var(--text-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logout-btn {
  width: 100%;
  padding: 0.6rem;
  border-radius: 0.5rem;
  background: rgba(239, 68, 68, 0.1);
  color: var(--error);
  border: 1px solid rgba(239, 68, 68, 0.2);
  cursor: pointer;
  font-weight: 600;
  transition: var(--transition);
}

.logout-btn:hover {
  background: var(--error);
  color: white;
}


.user-role {
  font-size: 0.75rem;
  color: #d7e0e4;
  margin-left: 6px;
  font-weight: 600;
}